<?xml version='1.0' encoding='utf-8'?>
<widget id="com.phonegap.hello" 
        version="1.0.0" xmlns="http://www.w3.org/ns/widgets" 
        xmlns:gap="http://phonegap.com/ns/1.0">
 
    <name>Hello</name>
 
    <description>
        Simples hello world.
    </description>
 
    <author href="#" email="italo.ecomp@gmail.com">
        Italo Silva
    </author>
</widget>
